<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feed</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>

<style>
    .posts::-webkit-scrollbar{
        display: none;
    }
</style>
</head>
<body>
    <div class="main h-screen w-full bg-zinc-900 flex items-center justify-center text-white">    
        <div class="profile-main-content overflow-hidden whitespace-nowrap cursor-grab overflow-x-auto lg:h-[80%] lg:w-[25%] h-full w-full bg-zinc-500/10 py-2 px-4 flex flex-col items-center rounded-lg relative">
            <div class="nav flex items-center justify-between h-[8%] w-full mt-23">
                <div class="logo h-full w-full relative flex items-center mt-2">
                    <img class="lg:w-[7vw] w-[25vw] absolute" src="/Images/logo.png" alt="">
                </div>
                <div class="flex items-center gap-5">
                    <i class="ri-heart-line lg:text-xl text-2xl cursor-pointer"></i>
                    <i class="ri-message-3-line lg:text-xl text-2xl cursor-pointer"></i>
                </div>
            </div>
           
            
            <form class="w-full h-full relative comment-form" action="/post/comment/<%= post._id %>" method="post">
                <div class="comment-section h-[70%] w-full p-3">
                    <% post.comments.forEach(function(comt){ %>
                        <p><%= comt.content %></p>

                   <% }) %>
                </div>
                <div class="input-comment h-[30%] w-full absolute lg:-bottom-10 -bottom-7">
                    <input id="input-comment-box" class="w-[80%] lg:p-2 p-4 outline-none bg-transparent border-2 border-zinc-600  rounded-lg"  type="text" placeholder="Write your comment..." name="comment">
                    <input id="send-comment" class="w-[20%] lg:p-2 p-4 lg:text-lg text-xl bg-blue-600 text-white font-semibold rounded-lg lg:mt-4 mt-8 cursor-pointer" type="submit" name="" id="" value="Post">
                </div>
            </form>
            <div class="footer text-white flex justify-between items-center h-[8%] bg-zinc-500/10 w-full bottom-0 absolute z-[10] px-6 py-2">
                <a href="/feed"><i class="text-[1.2rem] ri-home-line"></i></a>
                <a href="/search"><i class="text-[1.2rem] ri-search-line"></i></a>
                <a href="/post"><i class="text-[1.2rem] ri-add-box-line"></i></a>
                <a href="/profile">
                    <div class="w-7 h-7 bg-zinc-300 rounded-full overflow-hidden">
                        <img class="w-full h-full object-cover" src="<%= user.profilePic ? `data:image/jpg;base64,${user.profilePic.toString('base64')}` : '/Images/uploads/default.webp' %>" alt="">
                      </div>
                </a>
              </div>
              
        </div>

        
    </div>

</body>
</html>