<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main h-screen w-full bg-zinc-900 flex items-center justify-center text-white">
        <div class="form lg:h-[75%] lg:w-[25%] h-full w-full bg-zinc-500/10 p-4 flex flex-col items-center rounded-lg">
            <img class="w-1/2 mt-24 lg:mt-20" src="/Images/logo.png" alt="">
            <form class="w-full h-full" action="/login" method="post">
                <input class="w-full lg:p-2 p-4 outline-none bg-transparent border-2 border-zinc-600 mt-7 rounded-lg" type="text" placeholder="Email" name="email">
                <input class="w-full lg:p-2 p-4 outline-none bg-transparent border-2 border-zinc-600 mt-5 rounded-lg" type="text" placeholder="Password" name="password">
                <input class="w-full lg:p-2 p-4 lg:text-lg text-xl bg-blue-600 text-white font-semibold rounded-lg lg:mt-4 mt-8 cursor-pointer" type="submit" value="LogIn Account">
                <p class="text-white mt-5 text-center text-2xl lg:text-lg">Don't have an account? <a class="text-blue-500" href="/">Sign In</a></p>
            </form>
           
        </div>
    </div>
</body>
</html>